<a href="https://colab.research.google.com/github/habutaha/Cluster-champs_final-project_dsml2021/blob/HazemAbutaha/TechCompanyFunding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tech Company Funding

* <b>Company</b>: The name of the Company
* <b>Website</b>: The web site of the company
* <b>Region</b>: The country of the company 
* <b>Vertical</b>: The Industry
* <b>Funding Amount (USD)</b>: The amount of the Funding
* <b>Funding Stage</b>: The stage of the Funding 
* <b>Funding Date</b>: The date of the Funding

### Import Data and Libraries

In [3]:
import pandas as pd

In [4]:
techFundingDf = pd.read_csv('./tech_fundings.csv')
techFundingDf.head()

   index    Company  ... Funding Stage Funding Date
0      1   Internxt  ...          Seed       20-Jan
1      2   Dockflow  ...          Seed       20-Jan
2      3  api.video  ...          Seed       20-Jan
3      4    Buck.ai  ...          Seed       20-Jan
4      5  Prodsight  ...          Seed       20-Jan

[5 rows x 8 columns]

In [5]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3575 non-null   int64
 1   Company               3575 non-null   object
 2   Website               3575 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3575 non-null   object
 5   Funding Amount (USD)  3575 non-null   object
 6   Funding Stage         3575 non-null   object
 7   Funding Date          3575 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.6+ KB

### remove the missing 'Region' values

In [6]:
# Get a copy of DataFrame without missing 'Region' values
condition = techFundingDf['Region'].notnull()
techFundingDf = techFundingDf[ condition ]
techFundingDf.head()

   index    Company  ... Funding Stage Funding Date
0      1   Internxt  ...          Seed       20-Jan
1      2   Dockflow  ...          Seed       20-Jan
2      3  api.video  ...          Seed       20-Jan
3      4    Buck.ai  ...          Seed       20-Jan
4      5  Prodsight  ...          Seed       20-Jan

[5 rows x 8 columns]

In [7]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3563 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3563 non-null   int64
 1   Company               3563 non-null   object
 2   Website               3563 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3563 non-null   object
 5   Funding Amount (USD)  3563 non-null   object
 6   Funding Stage         3563 non-null   object
 7   Funding Date          3563 non-null   object
dtypes: int64(1), object(7)
memory usage: 250.5+ KB

### Prepare the 'Funding Amount (USD)'

In [8]:
# find the numbers of 'Unknown' in the Funding Amount
len(techFundingDf[ techFundingDf['Funding Amount (USD)'] == 'Unknown' ]['Funding Amount (USD)'])

9

In [9]:
# Removing the 'Unknown' rows from the Funding amount
techFundingDf = techFundingDf.drop([1262,1263,1264,1284,1285,1293,1301,1310,1327], axis=0)
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3554 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3554 non-null   int64
 1   Company               3554 non-null   object
 2   Website               3554 non-null   object
 3   Region                3554 non-null   object
 4   Vertical              3554 non-null   object
 5   Funding Amount (USD)  3554 non-null   object
 6   Funding Stage         3554 non-null   object
 7   Funding Date          3554 non-null   object
dtypes: int64(1), object(7)
memory usage: 249.9+ KB

In [10]:
len(techFundingDf[ techFundingDf['Funding Amount (USD)'] == 'Unknown' ]['Funding Amount (USD)'])

0

In [11]:
# Change the 'Funding Amount (USD)' data type from object to float64
techFundingDf['Funding Amount (USD)'] = techFundingDf['Funding Amount (USD)'].astype(str).astype(float)
print(techFundingDf.dtypes)

index                     int64
Company                  object
Website                  object
Region                   object
Vertical                 object
Funding Amount (USD)    float64
Funding Stage            object
Funding Date             object
dtype: object

In [12]:
techFundingDf.describe()

             index  Funding Amount (USD)
count  3554.000000          3.554000e+03
mean   1785.603545          5.774267e+07
std    1031.960588          2.986841e+08
min       1.000000          4.000000e+04
25%     890.250000          5.000000e+06
50%    1787.500000          1.550830e+07
75%    2678.750000          5.000000e+07
max    3575.000000          1.660000e+10