# Tech Company Funding / remove the missing 'Region' values

* <b>Company</b>: The name of the Company
* <b>Website</b>: The web site of the company
* <b>Region</b>: The country of the company 
* <b>Vertical</b>: The Industry
* <b>Funding Amount (USD)</b>: The amount of the Funding
* <b>Funding Stage</b>: The stage of the Funding 
* <b>Funding Date</b>: The date of the Funding

### Import Data and Libraries

In [11]:
import pandas as pd

In [12]:
techFundingDf = pd.read_csv('./tech_fundings.csv')
techFundingDf.head()

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,20-Jan
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,20-Jan
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,20-Jan
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,20-Jan
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,20-Jan

In [13]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3575 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3575 non-null   int64
 1   Company               3575 non-null   object
 2   Website               3575 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3575 non-null   object
 5   Funding Amount (USD)  3575 non-null   object
 6   Funding Stage         3575 non-null   object
 7   Funding Date          3575 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.6+ KB

In [14]:
# Get a copy of DataFrame without missing 'Region' values
condition = techFundingDf['Region'].notnull()
techFundingDf = techFundingDf[ condition ]
techFundingDf.head()

,index,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
0,1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,20-Jan
1,2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,20-Jan
2,3,api.video,https://api.video,France,Developer APIs,300000,Seed,20-Jan
3,4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,20-Jan
4,5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,20-Jan

In [15]:
techFundingDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3563 entries, 0 to 3574
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 3563 non-null   int64
 1   Company               3563 non-null   object
 2   Website               3563 non-null   object
 3   Region                3563 non-null   object
 4   Vertical              3563 non-null   object
 5   Funding Amount (USD)  3563 non-null   object
 6   Funding Stage         3563 non-null   object
 7   Funding Date          3563 non-null   object
dtypes: int64(1), object(7)
memory usage: 250.5+ KB